<div class="cp-container">
  <div class="cp-container__box">
    <div class="row">
      <div class="col-sm-6">
        <table class="cp-container__table">
          <tr>
            <td style="text-align:right">Bottleneck on:&nbsp;&nbsp;</td>
            <td>{{previouslyGeneratedBottleneck}}</td>
          </tr>
          <tr>
              <td>Generate bottleneck on:&nbsp;&nbsp;</td>
              <td>
                <select>
                  <option default disabled>Select skill</option>
                  <ng-template ngFor let-skill [ngForOf]="skills" let-i="index">
                    <option value="skill.name">{{skill.name}}</option>
                </ng-template>
              </select></td>
            </tr>
        </table>
      </div>
      <div class="col-sm-6">

      </div>
    </div> <!--/row-->
  </div> <!--/cp-container__box-->
</div> <!--/cp-container-->
