<div class="table-card">
  <div class="cp-container">
    <div class="cp-container__box">
      <div class="row">
        <div class="col-sm-6">
          <table class="cp-container__table">
            <tr>
              <td style="text-align:right">Bottleneck on:&nbsp;&nbsp;</td>
              <td>
                <ng-template ngFor let-b [ngForOf]="previousGeneratedBottleNeck" let-i="index">
                  <div>{{b}}</div>
                </ng-template>
              </td>
            </tr>
            <tr>
                <td>Generate bottleneck on:&nbsp;&nbsp;</td>
                <td>
                  <select (change)="genNewBottleneck($event.target.value)">
                    <option default disabled>Select skill</option>
                    <ng-template ngFor let-skill [ngForOf]="skills" let-i="index">
                      <option value="{{skill.name}}">{{skill.name}}</option>
                  </ng-template>
                </select></td>
              </tr>
          </table>
        </div>
        <div class="col-sm-6"></div>
      </div> <!--/row-->
    </div> <!--/cp-container__box-->
  </div> <!--/cp-container-->

  <table class="table table-striped table-hover">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Pipeline</th>
      <th>Not Assigned</th>
      <th>Assigned</th>
      <th>Longest Waiting Time</th>
      <th>Next Deadline</th>
      <th>Sorting</th>
      <th>Editors</th>
      <th>Potential</th>
      <th>Forced</th>
      <th>Idle</th>
      <th>Freelancer</th>
      <th>&lt;0h</th>
      <th>&lt;2h</th>
      <th>&lt;4h</th>
      <th>&lt;8h</th>
      <th>&lt;12h</th>
      <th>&lt;16h</th>
      <th>&lt;24h</th>
      <th>&lt;48h</th>
      <th>&lt;72h</th>
    </tr>
    <tr *ngFor="let skill of skills, index as i">
      <td>{{i}}</td>
      <td>{{skill.name}}</td>
      <td>{{skill.pipeline | number: '1.0-0'}}</td>
      <td>{{skill.notAssigned | number: '1.0-0'}}</td>
      <td>{{skill.assigned | number: '1.0-0'}}</td>
      <td><a href="#">{{skill.longestWaitingTime}}</a></td>
      <td><a href="#">{{skill.nextDeadline}}</a></td>
      <td><a href="#" [ngStyle]="{'color': ui_sortIsRed(skill.sorting) ? 'red' : '337ab7'}">{{skill.sorting}}</a></td>
      <td><a href="#">{{skill.editors | number: '1.0-0'}}</a></td>
      <td><a href="#">{{skill.potential | number: '1.0-0'}}</a></td>
      <td><a href="#">{{skill.forced | number: '1.0-0'}}</a></td>
      <td>{{skill.idle | number: '1.0-0'}}</td>
      <td>{{skill.freelancer | number: '1.0-0'}}</td>
      <td [ngStyle]="{'color': ui_getBottleneckColor(skill, 'zeroHours')}">{{skill.zeroHours | number: '1.0-0'}}</td>
      <td>{{skill.twoHours | number: '1.0-0'}}</td>
      <td>{{skill.fourHours | number: '1.0-0'}}</td>
      <td>{{skill.eightHours | number: '1.0-0'}}</td>
      <td>{{skill.twelveHours | number: '1.0-0'}}</td>
      <td>{{skill.sixteenHours | number: '1.0-0'}}</td>
      <td>{{skill.twentyFourHours | number: '1.0-0'}}</td>
      <td>{{skill.fourtyEightHours | number: '1.0-0'}}</td>
      <td>{{skill.seventyTwoHours | number: '1.0-0'}}</td>
    </tr>
  </table>
</div>
