.table-card {
  background: #fff;
  border-radius: 2px;
  /* border: solid 1px #434343; */
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cp-container__table {
  display: inline-block;
}

.cp-container__reset-button {
  text-align:left;
  margin-top:13px;
}

.qTable th {
  vertical-align: bottom;
}

.qTable td {
  border: solid 1px #e6e6e6;
  text-align: center;
  font-size: 12pt;
  font-family: "open sans", "Helvetica Neue";
  padding:  0 40px;
  vertical-align: middle;
}

.qTable td a {
  color: #337ab7;
}

.qTable__editors-input {
  min-width:67px;
}



